ul.navbar-nav.ml-auto {
float: right;
}
main.py-4 {
    height: 850px;
}
.full-height {
    height: auto;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background-color: #fff;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.navbar-nav>li {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.m-b-md {
    margin-bottom: 30px;
    text-align: center;
}



/*  Color Pattel style  */

ul.my-new-list, ul.text-color-list {
    float: left;
    width: 100%;
    list-style: none;
}
ul.my-new-list .color_pattel , ul.text-color-list li {
  width: 20px;
  float: left;
  display: inline-block;
  height: 20px;
}


.canvas_container h3 {
    background: #d6cece;
    padding: 8px;
    text-align: center;
    font-size: 23px;
    margin-bottom: 12px;
}
ul.toolbar_list {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.toolbar_list li {
  float: left;
  width: 47%;
  font-size: 25px;
  border: 1px solid;
  border-radius: 5px;
  padding: 4px;
  margin: 0 4px 5px 0px;
}
ul.toolbar_list li:hover,  ul.toolbar_list li.active{
    background: #efe8e8;
}

.popup_font_family {
    width: 164px;
    height: 34px;
    font-size: 14px;
    color: #555;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
#myRange{
	direction: rtl
}
.textPopup input, .textPopup select
{
  float:left;
}

.selectBgColor {
    margin-bottom: 8px;
}

.select_cloth, .cloth_frame_dropdown {
  width: 410px;
  height: 38px;
  font-size: 16px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  color: #595959;
}
.aidavalidate, .framevalidate, .clothcolorvalidate {
    display: none;
    color: red;
    width: 100%;
    float: left;
    font-size: 15px;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 8px solid #ececec;
  border-radius: 50%;
  border-top: 8px solid #275986;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#pdfloader
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    display: none;
}
#pdfloader p {
    position: absolute;
    top: 45%;
    left: 35%;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    font-family: arial;
    letter-spacing: 2px;
}
#pdfloader img {
    position: absolute;
    top: 30%;
    left: 27%;
}
/* Add animation to "page content" */

#myDiv {
  display: none;
  text-align: center;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.search_box {
    margin-bottom: 9px;
}

ul.gallery {
    list-style: none;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.gallery li {
    width: 19%;
    float: left;
    margin: 0 7px 10px 0;
    border: 1px solid;
    padding: 10px;
}
.gallery li .pattern_details {
    float: left;
    width: 100%;
    min-height: 225px;
}
.gallery li .pattern_details img {
    width: 190px;
}
.gallery li .pattern_details p {
  float: left;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  color: #000;
  font-size: 16px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery li .pattern_details p .moretext{ display: none; float: left;
    text-align: left;
    font-size: 16px;
    color: #000; width: 100%;}
.actions {
    float: left;
    width: 100%;
    text-align: center;
}
.actions form {display: inline-block;}
.openbutton {
    width: 80px;
    font-size: 13px;
    margin-bottom: 10px;
}
#loginPopupModal .modal-header, #loginPopupModal .modal-footer {
    border: 0;
}
.login-modal-text {
    text-align: center;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
}
.create_new_design {
    float: left;
    margin: 8px 0 0;
    height: 34px;
    padding: 8px;
    background-color: #cccc;
    color: #000;
    cursor: pointer;
}
.autotags
{
  width: 730px;
  resize: none;
}
.alert-info
{
  float: left;
    width: 100%;
}
